<section class="home-section" id="home">
    <div>
        <h1>De nosotros</h1>
        <p>
            f lrjfjrbf rfb rof rkh kjjbrflfljsfn b fmdbhbsjfnbr kbsr fmnbdhfgsdmfbrfhbsnbdkhjbd sfgkjfrhjfgsjhf rskfjb
            djnfb dsuhfbrjhfbsr kfjhbgkbngvkfv kfdjvnkdfjlnv kfdjnvkdjvlkdfjnvjlvfkdjvndf kjvnfdkln kjv jfdn vkjdfn l 
        </p>
    </div>
    <img class="sect-img" src="https://source.unsplash.com/1600x900/?nature">
    
    <a href="#home2">
        <img class="arrow-down" src="images/website/arrow.png">
    </a>
</section>

<section class="home-section" id="home2">
    <div>
        <h1>De nosotros</h1>
        <p>
            f lrjfjrbf rfb rof rkh kjjbrflfljsfn b fmdbhbsjfnbr kbsr fmnbdhfgsdmfbrfhbsnbdkhjbd sfgkjfrhjfgsjhf rskfjb
            djnfb dsuhfbrjhfbsr kfjhbgkbngvkfv kfdjvnkdfjlnv kfdjnvkdjvlkdfjnvjlvfkdjvndf kjvnfdkln kjv jfdn vkjdfn l 
        </p>
    </div>
    <img class="sect-img" src="https://source.unsplash.com/1600x900/?nature">
    
</section>