<section class="home-section" id="home">
    <div>
        <h1>De nosotros</h1>
        <p>
            Prana es una empresa familiar establecida en Playa del Carmen, nos dedicamos a fabricar objetos de diseño, con técnicas artesanales y utilizando materiales amigables con el medio ambiente.
        </p>
    </div>
    <img class="sect-img" src="/images/website/logo-black.png">
</section>

<section class="home-section-2" id="home2">
    <div>
        <p>
            Nuestros principales productos son muebles de diseño, tapices y lámparas de macramé, pero nos encanta innovar y buscar nuevas técnicas por lo que siempre tendremos novedades.
        </p>
        <p>
            También brindamos asesoramiento en diseño de espacios, viviendas o locales comerciales. 
            Nuestra basta experiencia en rediseñar lugares nos permite no solo guiar en el proceso del cambio con nuevos estilos sino también restaurando e interviniendo tus propios objetos para lograr estilos renovados sin necesidad de grandes inversiones.
        </p>
    </div>
    <button class="home-button">
        <a href="/articulos">
                Ir a artículos
        </a>
    </button>
</section>