<section class="login-section">

    <div class="login-card">
        <div class="card-content">
            <h3>PRANA</h3>
            <big><b>Arte y diseño</b></big>

            <br>
            <br>
            <br>
            <div class="divider"></div>
            <br>
            <br>

            <a class="login-google" href="/auth/google">
                <button>
                    <img class="google" src="/images/website/google-icon.png" alt="google">
                    <p>Inicia sesión con google</p>
                </button>
            </a>

        </div>
    </div>


</section>